.docsify-pagination-container {
    margin-top: 2rem !important;
}

.edit-button {
    background-color: rgb(250, 250, 250);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.07) !important;
}

.edit-button:hover {
    background-color: rgb(240, 240, 240);
}
